{{ attach_library('commerce_stock/inventory_control') }}

<div class="span10">
    <div class="well">
        {{ form.location }}
        <div class="row-fluid">

            <div class="span4">
                <div class="input-append transfer-barcode">
                    {{ form.sku }}
                    <button class="button" type="button" id="button-add-item">Add</button>
                </div>
            </div>

        </div><!-- end row-fluid -->

        <table class="table table-striped table-list table-transfers" id="item-table">
            <thead>
            <tr>
                <th>SKU</th>
                <th>Quantity</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-stock-total">
            <tbody><tr>
                <td>TOTAL</td>
                <td class="table-transfers-total">0</td>
                <td>{{ form.description }}</td>
                <td>{{ form.actions }}</td>
            </tr>
            </tbody></table>

    </div><!--well-->
</div>

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}